<template>
  <div
    class="flex border border-gray-900 rounded truncate"
  >
    <button
      v-for="(item, idx) in choices"
      :key="idx"
      @click="select(idx)"
      class="p-2 px-4 border border-gray-900 bg-gray-100 text-gray-900 hover:bg-gray-600 focus:outline-none"
      :class="{ selected: (idx == selectedIndex) }"
    >
      {{ item }}
    </button>
  </div>
</template>

<script>
export default {
  props: {
    choices: {
      type: Array,
      required: true
    },
    selectionChange: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      selectedIndex: 0
    }
  },
  methods: {
    select(index) {
      this.selectedIndex = index
      this.selectionChange(index)
    }
  }
}
</script>

<style lang="postcss" scoped>
.selected {
  @apply bg-gray-900 text-gray-100;
}
</style>
