<template>
  <div
    class="bg-white p-4 text-center w-full desktop:w-2/12 desktop:m-4 desktop:truncate desktop:rounded-lg desktop:border desktop:border-gray-700"
    @click="playSound"
    @mouseover="hover(true)"
    @mouseleave="hover(false)"
  >
    <span class="font-medium text-xl">{{ item.title }}</span><br />
    <span class="text-sm italic">{{ item.character + ' - ' + item.episode }}</span>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    },
    callback: {
      type: Function,
      required: true
    },
    hoverCallback: {
      type: Function,
      required: false
    }
  },
  methods: {
    playSound() {
      this.callback(this.item)
    },
    hover(isHovering) {
      if (this.hoverCallback) {
        this.hoverCallback(this.item, isHovering)
      }
    }
  }
}
</script>

<style lang="postcss" scoped>
  div {
    transition: all 0.3s ease-in-out;
  }
  div:hover {
    @apply bg-gray-500;
  }
  div:nth-child(odd) {
    @apply bg-black text-white;
  }
  div:nth-child(odd):hover {
    @apply bg-gray-700;
  }
</style>
