<template>
  <header class="flex items-center p-4 w-full bg-black">
    <img class="w-1/12 ml-12" src="~/assets/logo.png" />
    <div class="ml-8 flex flex-col">
      <h1 class="text-5xl font-black text-white text-left">
        La Botte secrète
      </h1>
      <h2 class="text-xl font-medium italic text-white text-left">Une soundboard Kaamelott</h2>
    </div>
  </header>
</template>
