<template>
  <div>
    <div
      class="w-full px-4 bg-green-300 flex justify-between fixed top-0"
      v-show="currentItem !== null"
    >
      <div class="nowPlaying w-11/12 truncate">
        <h3 class="text-xl font-medium">{{ currentTitle }} <em class="font-thin text-sm">{{ currentDetails }}</em></h3>
      </div>
      <div class="w-1/12 flex justify-center">
        <button
          @click="stopPlayback"
          class="text-3xl w-4 h-4 bg-gray-700 m-auto focus:outline-none hover:bg-gray-400"
          title="Stop"
        > </button>
      </div>
    </div>
    <div class="py-6 w-full bg-gray-100 flex flex-col-reverse justify-center items-center desktop:flex-row">
      <div class="desktop:mr-12 flex desktop:flex-row flex-col justify-center items-center">
        <div>
          <input
            class="rounded border border-gray-500 my-auto focus:outline-none p-2"
            placeholder="Titre, Auteur, ..."
            size="35"
            v-model="searchTerm"
          />
          <button
            class="-ml-10 desktop:mr-4 focus:outline-none rounded-full w-6 h-6"
            :class="{
              'bg-gray-400': showCancel,
              'text-white': showCancel,
              'text-gray-400': !showCancel,
              'bg-white': !showCancel
            }"
            @click="cancelSearch"
          >
          X
          </button>
        </div>
        <button
          class="p-2 px-4 ml-4 mt-4 desktop:mt-0 focus:outline-none text-gray-900 border border-gray-500 bg-gray-500 rounded hover:text-gray-500 hover:bg-gray-900"
          @click="updateSearch"
        >
          Chercher
        </button>

      </div>
      <button-group
        :choices="['Titre', 'Auteurs', 'Livre', 'Episode']"
        :selectionChange="sortChange"
        class="mb-6 desktop:mb-0"
      />
    </div>
    <div
      class="mx-auto flex flex-wrap justify-around desktop:pb-24"
    >
      <ka-cell v-for="(item, idx) in filteredItems" :key="idx" :item="item" :callback="playSound" :hoverCallback="elementHover" />
    </div>
    <div
      class="tooltip w-full bg-gray-700 text-white text-center hidden desktop:block fixed bottom-0 p-2"
    >
      <h3 class="font-bold text-xl">{{ selectedTitle }}</h3>
      <h4>{{ selectedSubtitle }}</h4>
    </div>
  </div>
</template>

<script>
import KaCell from '~/components/KaCell'
import ButtonGroup from '~/components/ButtonGroup'

const proxy = 'https://cors.bridged.cc/'
const apiUrl = 'http://ardev.info/Kaamelott/'

export default {
  components: {
    KaCell,
    ButtonGroup
  },
  data() {
    return {
      items: [],
      selected: null,
      searchTerm: null,
      sortBy: 0,
      searchBy: null,
      audio: null,
      audioQueue: [],
      currentItem: null
    }
  },
  computed: {
    selectedTitle() {
      return this.selected ? this.selected.title : ' '
    },
    selectedSubtitle() {
      return this.selected ? this.selected.character + ' - ' + this.selected.episode : ' '
    },
    currentTitle() {
      return this.currentItem ? this.currentItem.title : ''
    },
    currentDetails() {
      return this.currentItem ? '(' + this.currentItem.character + ' - ' +  this.currentItem.episode + ')' : ''
    },
    showCancel() {
      return this.searchTerm !== null && this.searchTerm !== ''
    },
    sortedItems() {
      // ['Title', 'Author', 'Season', 'Episode']
      return this.items.concat().sort( (e1, e2) =>  {
        let res = 0
        if (this.sortBy == 0) {
          if(e1.title < e2.title) { res = -1 }
          if(e1.title > e2.title) { res = 1 }
        }
        else if (this.sortBy == 1) {
          if(e1.character < e2.character) { res = -1 }
          if(e1.character > e2.character) { res = 1 }
        }
        else if (this.sortBy == 2) {
          res = e1.season.number - e2.season.number
          if (res == 0) {
            res = e1.ep.number - e2.ep.number
          }
        }
        else if (this.sortBy == 3) {
          if(e1.ep.name < e2.ep.name) { res = -1 }
          if(e1.ep.name > e2.ep.name) { res = 1 }
        }
        return res
      })
    },
    filteredItems() {
      if (!this.searchBy) { return this.sortedItems }
      // ['Title', 'Author', 'Season', 'Episode']
      return this.sortedItems.concat().filter((item) => {
        let compareWith = [item.title]
        switch (this.sortBy) {
          case 1:
            compareWith = item.authors
            break;
          case 2:
            compareWith = [item.season.number.toString(), item.season.name]
            break;
          case 3:
            compareWith = [item.ep.number.toString(), item.ep.name]
            break;
          default:
            break;
        }
        for (const word of compareWith) {
          if (word.toLowerCase().includes(this.searchBy.toLowerCase())) {
            return true
          }
        }
        return false
      })
    }
  },
  mounted() {
    this.$nextTick(this.fetchData)
  },
  methods: {
    async fetchData() {
      try {
        const response = await this.$axios.get(proxy + apiUrl + 'sounds.json')
        if(response.data) {
          this.items = response.data
          this.items.forEach((item) => {
            const a = item.episode.split(' - ')
            const b = a[0].split(', ')
            const c = b[0].split(' ')
            let n = 0
            switch (c[1]) {
              case 'I':
                n = 1
                break;
              case 'II':
                n = 2
                break;
              case 'III':
                n = 3
                break;
              case 'IV':
                n = 4
                break;
              case 'V':
                n = 5
                break;
              case 'VI':
                n = 6
                break;
              default:
                break;
            }

            item.season = {
              number: n,
              name: b[0]
            }
            item.ep = {
              number: parseInt(b[1]),
              name : a[1]
            }
            item.authors = item.character.split(' - ')
          })
        }
      } catch(error) {
        console.log(error)
      }
    },
    playSound(item) {
      this.audioQueue.push(item)
      this.playNext()
    },
    playNext() {
      if (this.audio || this.audioQueue.length == 0) { return }
      this.currentItem = this.audioQueue.splice(0,1)[0]
      this.audio = new Audio(apiUrl + this.currentItem.file)
      this.audio.onended = (e) => {
        this.audio = null
        this.currentItem = null
        this.$nextTick(this.playNext)
      }
      this.audio.play()
    },
    stopPlayback() {
      if (this.audio) { this.audio.pause() }
      this.audio = null
      this.currentItem = null
      this.audioQueue = []
    },
    elementHover(item, isHoverd) {
      this.selected = isHoverd ? item : null
    },
    sortChange(selectedSort) {
      this.sortBy = selectedSort
    },
    updateSearch() {
      this.searchBy = (this.searchTerm && this.searchTerm !== '') ? this.searchTerm : null
    },
    cancelSearch() {
      this.searchBy = null
      this.searchTerm = null
    }
  }
}
</script>

<style lang="postcss" scoped>
  .tooltip {
    min-height: 5rem;
    transition: all 0.5s ease-in-out;
  }
  .nowPlaying > h3 {
    animation: 3s linear scrollAnim infinite;
  }
  @screen desktop {
    .nowPlaying > h3 {
      animation: 6s linear scrollAnim infinite;
    }
  }
  @keyframes scrollAnim {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
