<template>
  <div>
    <ka-header />
    <nuxt />
    <ka-footer />
  </div>
</template>

<script>
import KaHeader from "~/components/KaHeader"
import KaFooter from "~/components/KaFooter"

export default {
  components: {
    KaHeader,
    KaFooter
  }
}
</script>

<style lang="postcss">

  html {
    @apply bg-gray-300;
    font-size: 12px;
    font-smoothing: grayscale;
    font-smoothing: antialiased;
  }

  @screen desktop {
    html {
      font-size: 12px;
    }
  }
</style>
